@font-face {
    font-family: 'Work Sans';
    src: url(../fonts/Work-Sans.woff2) format('woff2');
}

:root{
    --green-1: #eafaf1;
    --green-2: #1fe374;
    --green-3: #00ad6a;
    --regular-white: #fcfcfc;
    --regular-grey: #d6dae5;
    --medium-grey: #464951;
    --dark-grey: #83858a;
    --regular-dark: #080c16;
    --width: 1200px;

    --card-radius: .5rem;
}

body{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    /* color: var(--medium-grey); */
}

ul{
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--regular-dark);
}

.border-red{
    border: 2px solid red;
}

/* HEADER */
/* NAVBAR */
.header{
    background-color: var(--green-1);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--width);
    margin: 0 auto;
    padding: 2.75rem 1.5rem;
}

.navbar-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.navlink{
    color: var(--green-3);
    font-weight: 600;
}

.active{
    color: var(--regular-dark);
}

.navlink:hover{
    color: var(--regular-dark);
    cursor: pointer;
}

.btn-outline-primary{
    border: 2px solid var(--green-3);
    padding: .5em 1.2em;
    color: var(--green-3);
    font-weight: 600;
    display: inline-block;
    transition: all .3s;
}

.btn-outline-primary:hover{
    box-shadow: -5px 5px var(--green-3);
    transform: translate(5px, -5px);
}

/* MOBILE NAVBAR */
.collapse-navbar{
    display: none;
    position: absolute;
    inset: 5.5rem 0 0 0;
    background-color: var(--green-1);
    padding: 1.5rem;
    font-size: 1.25rem;
    z-index: 100;
}

.collapse-navbar > .navbar-list{
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding-bottom: 1rem;
}

/* MAIN */
/* TITLE */
.pricing-testimonial{
    padding-bottom: 6rem;
    background-color: var(--green-1);
    border-bottom: 1px solid var(--regular-grey);
}

.pricing-title{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    text-align: center;
    width: 45%;
}

.pricing-title > h1{
    font-size: 3.25rem;
    padding: 0 2.5rem;
    margin-top: 0;
}

.pricing-title > p{
    font-size: 1.25rem;
}


/* MAIN */
/* PRICING PLAN */
.pricing-plan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--width);
    margin: 0 auto;
    gap: 2rem;
}

.pricing-plan-card{
    background-color: var(--regular-white);
    border: 1px solid var(--green-3);
    text-align: center;
}

.card-header{
    background-color: var(--green-3);
    color: var(--regular-white);
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
    padding: .4rem 0;
}

.pricing-plan-card, .card-header{
    border-top-left-radius: var(--card-radius);
    border-top-right-radius: var(--card-radius);
}

.card-body{
    padding: 3rem 2rem;
}

.pricing-plan-title{
    color: var(--green-3);
    font-size: 3rem;
    margin: 0 auto;
}

.pricing-plan-title > .price{
    display: block;
    font-size: 1.5rem;
    color: var(--dark-grey);
    font-weight: lighter;
}

button.btn-primary{
    background-color: var(--green-2);
    padding: 1em 2em;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--regular-dark);
    border: none;
    margin: 1rem auto;
}

button.btn-primary:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all .05s;
}

.features-title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
}

.pricing-plan-features {
    text-align: left;
    margin-left: 1rem;
}

.pricing-plan-feature-item{
    list-style: url('../icons/icon-check-bullet.svg');
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.btn-mobile{
    display: none;
}

article.disabled{
    background-color: transparent;
    border: none;
    padding: 3rem 2rem;
    text-align: left;
    width: 50%;
}

article.disabled > .pricing-plan-title{ 
    font-size: 1.25rem;
}

article.disabled > ul{
    padding-left: 1.25rem;
}

article.disabled > ul > li.pricing-plan-feature-item{
    list-style: disc;
    margin-bottom: 0;
}

.get-now{
    text-decoration: underline;
}

article.secondary{
    border-color: var(--regular-grey);
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

article.secondary > .card-header{
    background-color: #f2f3f3;
    color: var(--regular-dark);
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    text-transform: none;
    font-weight: normal;
    padding: 1.5rem 2rem;
    font-size: .85rem;
}

article.secondary > .card-body > .pricing-plan-title{
    font-size: 2rem;
    font-weight: 500;
}

article.secondary > .card-body > .pricing-plan-title > .price{
    font-weight: 400;
}

/* MAIN */
/* TESTIMONIAL */
.testimonial{
    max-width: 60%;
    text-align: center;
    margin: 3rem auto;
}

.testimonial > blockquote{
    font-size: 1.5rem;
    quotes: "“" "”" "‘" "’";
}

.testimonial > cite{
    text-transform: uppercase;
    font-weight: 600;
    color: var(--green-3);
}

/* MAIN */
/* FAQ */
.faq{
    margin: 0 auto;
    max-width: var(--width);
    padding: 6em 4em;
}

.faq-title{
    font-size: 3rem;
}

.faq-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem 0.5rem;
}

.faq-item{
    width: calc(50% - 2rem);
}

.faq-question{
    margin: 0 auto;
    font-size: 1.25rem;
    line-height: 1.15;
}

.faq-answer{
    margin: 0 auto;
    font-size: 1.125rem;
    line-height: 1.5;
    color: var(--medium-grey);
}

/* FOOTER */
.footer{
    background-color: var(--regular-dark);
    padding: 0 4rem;
}

.footer > .footer-content,
.footer > p{
    max-width: var(--width);
    margin:0 auto;
}

.footer > p, .footer > p > a{
    color: var(--dark-grey);
    font-size: .75rem;
    line-height: 1.5;
}

.footer > p{
    padding-bottom: .75rem;
}

.footer > p > a{
    text-decoration: underline;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 6rem 0;
}

.footer-left,
.footer-right{
    width: 50%;
}

.footer-left{
    display: flex;
    flex-direction: column;
    gap: 3rem;

}

.footer-logo{
    width: 10rem;
}

/* .footer-left > a{
    display: inline-block;
} */

.btn-regular-primary{
    background: linear-gradient(90deg, var(--green-3) 20%, var(--green-2) 100%);
    padding: 1rem 2rem;
    font-weight: 600;
    text-align: center;
    max-width: 15rem;
    /* display: inline-block; */
    transition: all .3s;
}

.btn-regular-primary:hover{
    box-shadow: -5px 5px var(--regular-grey);
    transform: translate(5px, -5px);
}

.footer-right{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
}

.footer-menu{
    width: calc(100% / 3);
}

.footer-menu > h5{
    color: var(--regular-white);
    font-size: 1.125rem;
    margin: 0 0 1rem 0;
}

.footer-menu > ul > li{
    margin-bottom: 1rem;
}

.footer-menu > ul > li > a{
    color: var(--green-2);
    font-size: 1.125rem;
}

/* HAMBURGER MENU */
.hamburger-menu{
    width: 2rem;
    height: 2rem;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    display: none;
}

.hamburger-menu::before,
.hamburger-menu input,
.hamburger-menu::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--green-3);
}

.hamburger-menu input{
    appearance: none;
    margin: 0;
}

/* Laptop breakpoint */
@media (max-width: 1024px) {    
    .pricing-testimonial{
        padding: 0 1.5rem;
    }

    .pricing-title{
        margin: 0;
        text-align: left;
        width: 100%;
    }

    .pricing-title > h1{
        padding: 0;
    }

    .pricing-plan{
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        gap: 2rem;
    }

    .pricing-plan > article{
        max-width: 100%;
    }
    
    .pricing-plan-card{
        text-align: left;
    }

    .card-header{
        text-align: center;
    }

    .pricing-plan-title{
        font-size: 2rem;
    }

    .pricing-plan-title > .price{
        display: inline-block;
    }

    .btn{
        display: none;
    }

    .btn-mobile{
        display: block;
        width: 100%;
    }

    .pricing-plan-feature-item{
        line-height: 1;
    }

    article.disabled{
        width: auto;
    }
    
    article.disabled > ul > li.pricing-plan-feature-item{
        line-height: 1.5;
    }

    .testimonial{
        max-width: 85%;
    }

    .faq,
    .footer{
        padding: 0 1.5rem;
    }

    .footer-content{
        padding: 3rem 0;
        flex-direction: column;
        gap: 3rem;
    }

    .footer-left,
    .footer-right{
        width: 100%;
    }

    .footer-left{
        align-items: center;
        gap: 1rem;
    }
}


/* Tablet breakpoint */
@media (max-width: 768px) {
    .header{
        background-color: var(--regular-white);
        border-bottom: 1px solid var(--regular-grey);
    }

    .navbar{
        padding: 1rem 1.5rem;
    }

    .navbar > .navbar-list{
        display: none;
    }

    .collapse-navbar{
        display: block;
    }

    .hamburger-menu{
        display: flex;
    }

    .pricing-title{
        width: 100%;
        padding-top: 2rem;
    }

    .pricing-title > h1{
        font-size: 2rem;
    }

    .pricing-title > p{
        font-size: 1rem;
    }

    .testimonial{
        max-width: 100%;
    }

    .faq{
        padding: 3rem 1.5rem;
    }

    .faq-list{
        flex-direction: column;
        gap: 3rem 0rem;
    }

    .faq-item{
        width: 100%;
    }
}
